<h1>Dashboards</h1>

<%= form_for @shout do |form| %>
  <div class="text-field">
    <%= form.label :shout %>
    <%= form.text_field :body, placeholder: 'Shout here!', required: true %>
  </div>
  <div class="submit-field">
    <%= form.submit %>
  </div>
<% end %>
